.box {
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;



}

h1 {
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg-primary {
  margin-left: 100px;
  margin-right: 10px;
}

.navbar-expand-md {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;

}

.left {
  float: left;
  width: 250px;
  margin-left: 20px;


}

.right {
  float: right;
  width: 200px;
}

.container-fluid {
  background-color: white;
}

.container {
  background-color: lightgray;
}

