.box {
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;



}

h1 {
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 20px;
}

h2 {
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 20px;
}

.bg-primary {
  margin-left: 100px;
  margin-right: 10px;
}

.navbar-expand-md {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;

}

.left {
  
  width: 700px;

  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;


}

.thumbs {
 
  width: 500px;
  margin:20px;
}

.figure {
  margin-top: 0px;
  margin-bottom: 0px;
}



p {
  font-size: 18px;
  line-height: 36px;
  
} 

.container-fluid {
  background-color: lightgray;
}



.col-md-11 {
  
  background-color: white;
  margin: 60px;
  padding: 80px;
}

.row {
  margin-left: 50px;
}