.box {
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
}

h1 {
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 20px;
}

h2 {
  color: blue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 20px;
}

.bg-primary {
  margin-left: 100px;
  margin-right: 10px;
}

.navbar-expand-md {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;

}



.container-fluid {
  background-color: lightgray;

}


.col-md-11 {
  
  background-color: white;
  margin-left: 50px;

}

.row {
  padding: 15px;

}

.dataframe {
    margin-left: 0px
}

@media only screen and (max-width: 764px){

  

  .col-md-11 {
  
    margin:10px;
    padding:0px;
  
  }
  
 
  
  }